{% extends "myapp/base.html" %} {% block title %} Dodaj lub edytuj klienta {% endblock %} {% block content %}
<div class="actionbar actionbar--left">
  <a href="{% url 'clients' %}"><i class="fas fa-arrow-left greenIcon"></i></a>
  <h1 class="actionbar--header">
    {% if clientId %} Edytuj klienta {% else %} Dodaj klienta {% endif %}
  </h1>
</div>
<div class="content">
  {% if clientId %}
  <form class="form" action="{% url 'editClient' clientId %}" method="POST">
    {% else %}
    <form class="form" action="{% url 'newClient' %}" method="POST">
      {% endif %} {% csrf_token %} {{form}}
      <input class="form__btn" type="submit" value="OK" />
    </form>
  </form>
</div>
{% endblock %}