@import "../index";

.tab {
  color: $secondary;
  min-width: 92%;
  margin: 0.75rem 0;

  &--text {
    padding: 2rem 4rem;
    border-radius: 0.5rem;
    border: 1px solid $secondary;
    font-size: $large;
    text-align: center;
  }

  &--icon {
    color: $primary-font;
    font-size: $larger;
    text-align: left;
    padding: 0 0.75rem 0.75rem 0;
  }
}
